@font-face {  
    font-family: 'icomoon';  
    src:    url('../images/icomoon.eot?b7b2qy');  
    src:    url('../images/icomoon.eot?b7b2qy#iefix') format('embedded-opentype'),  
        url('../images/icomoon.ttf?b7b2qy') format('truetype'),  
        url('../images/icomoon.woff?b7b2qy') format('woff'),  
        url('../images/icomoon.svg?b7b2qy#icomoon') format('svg');  
    font-weight: normal;  
    font-style: normal;  
}
.avatar-font-icon {
    font-family: 'icomoon' !important; 
}
.avatar-font-icon:after {  
    content: "\e900";  
}  