.notification-main {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.notification-wrap {
    display: table;
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 3px;
    opacity: 0;
    transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
       -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
        -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
         -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
            transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    
}
.notification-active {
    opacity: 1;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.notification-hidden {
    opacity: 0;
    transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    -webkit-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
       -moz-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
        -ms-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
         -o-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
            transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
}
.notification-inner {
    display: table-cell;
    vertical-align: middle;
}
@media screen and (max-width: 480px) {
    .notification-main {
        position: fixed;
        left: 50%;
        bottom: 10px;
        margin-left: -150px;
    }
}