.tab-list {

}

.tab-list a {
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid #cdcdcd;
    margin-right: -1px;
}

.tab-list a.active {
    color: #fff;
    border-color: #0a628f;
    background-color: #0a628f;
}
.tab-panel > div {
    display: none;
}
.tab-panel > .active {
    display: block;
}